.blue{
    background-color:blue;
}
.sliderHome{
    overflow: inherit !important;
    
}
.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  height: 45px !important;
  width: 45px !important;
  min-width: 45px !important;
}

/* Mobile (less than 768px) */
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    height: 30px !important;
    width: 30px !important;
    min-width: 30px !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 14px !important;
  }
}



/* ONLY arrow size */
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 14px !important;   
  height: 14px !important;
  color:black;
}

.swiper-slide-active .info {
  right: 0 !important;
  opacity: 1 !important;
  transition-delay: 0.3s;
  
}
